### Program to traverse all the elements of a string uisng while loop.

In [1]:
S = "Programing"
index = 0
while index < len(S):
    print(S)
    index += 1

Programing
Programing
Programing
Programing
Programing
Programing
Programing
Programing
Programing
Programing

In [2]:
### Change the existing string.

In [3]:
str1 = "Kundan"
str2 = "vyas"+ str1
str2

'vyasKundan'

In [4]:
id(str1)

2198088075040

In [5]:
id(str2)

2198088047856

In [6]:
### To get the ID of variable we're using id() method in python

In [8]:
num = int(input("Enter a number"))
id(num)

Enter a number 45

140709942140728

In [ ]:
num1 = float(input("Enter a desimal number: "))
id(num1)

Enter a desimal number:  23.25

1798427448912

In [ ]:
### If both string are same than hose strings ID'S are also same lets check this out.

In [9]:
str1 = "kundan"
id(str1)

2198088077248

In [10]:
str2 = "kundan"
id(str2)

2198088077248

In [11]:
### The String+,* and in operators.

In [12]:
str1 + str2

'kundankundan'

In [13]:
str3 = str2 + "vyas"
str3

'kundanvyas'

In [14]:
### SUPPOSE we need to print multiple of single string without using loop.

In [15]:
string = "Python"

In [16]:
string2 = 3 * string
string2

'PythonPythonPython'

In [17]:
### By using loop to print multiple string.

In [18]:
String = "javaPrograming"
temp = 0
while temp < 3:
    print(String)
    temp+=1

javaPrograming
javaPrograming
javaPrograming

In [19]:
### Lets check the string , we have specific string in the existing sting.

In [20]:
Data = "These are the tools programmers use to write code. Popular languages include Java, C, Python, JavaScript, and SQL. Each language has its own syntax and is suited for different types of tasks."

In [21]:
Data

'These are the tools programmers use to write code. Popular languages include Java, C, Python, JavaScript, and SQL. Each language has its own syntax and is suited for different types of tasks.'

In [22]:
### Here we are using IN and NOT IN to check the specific string is availabe or not.

In [23]:
"Python" in Data

True

In [24]:
"Technology" in Data

False

In [25]:
"Hello" not in Data

True

In [26]:
"Java" not in Data

False

In [27]:
### Write a program to print all the letters from word1 that also appear in word2.

In [28]:
Word1 = "USA North America"
Word2 = "USA South America"

In [29]:
Word1

'USA North America'

In [30]:
Word2

'USA South America'

In [31]:
#With question
for letters in Word1:
    if letters in Word2:
        print(letters,end='')

USA orth America

### String Comparison. Such as ==, <, >, <=, >= and != are used to compare the string.

In [32]:
s1 = "kundan"

In [33]:
s2 = "KUNDAN"

In [34]:
s1 > s2 # Its depend on ASCII values of Characters because (from a to z [97 to 122]) and (From A to Z [65 to 90]).

True

In [35]:
s1 != s2

True

In [36]:
s1 == s2

False

In [37]:
#If i change the s1 int upper than what will happen lets see.

In [38]:
s1 = "abcd"
s2 = "abcd".upper()

In [39]:
s1 < s2

False

In [40]:
s1

'abcd'

In [41]:
s2

'ABCD'

In [42]:
s1 > s2

True

In [43]:
### What if both sting are same i mean both are lower or upper case letter.

In [44]:
st1 = "kundan"
str2 = "kuldeep"

In [45]:
s1 > s2

True

In [46]:
str1  = "kundan"
str3 = "kundan"

In [47]:
str1 >= str3

True

In [48]:
Top_10_Company = " TCS, INFOSYS, GOOGLE, MICROSOFT, YAHOO"
Company = Top_10_Company.split(",")
Company

[' TCS', ' INFOSYS', ' GOOGLE', ' MICROSOFT', ' YAHOO']

In [49]:
for c in Company:
    print(end=" ")
    print(c)

  TCS
  INFOSYS
  GOOGLE
  MICROSOFT
  YAHOO